<app-dashboard titulo_navbar="Registro de productos"></app-dashboard>
<div class="contenido w-75">
    <form class="row g-3">
        <div class="col-md-6">
            <label for="nombreProducto" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombreProducto">
        </div>
        <div class="col-md-6">
            <label for="precioProducto" class="form-label">Precio</label>
            <input type="number" class="form-control" id="precioProducto">
        </div>
        <div class="col-12">
            <label for="proveedorProducto" class="form-label">Proveedor</label>
            <input type="text" class="form-control" id="proveedorProducto">
        </div>
        <div class="col-12">
            <label for="stockProducto" class="form-label">Stock</label>
            <input type="text" class="form-control" id="stockProducto">
        </div>
        <button type="button" class="btn btn-dark">Registrar</button>
    </form>
</div>
