<section class="container-fluid d-flex justify-content-center align-items-center login-container">
    <div class="login-page">
        <div class="login-form p-5">
            <app-slider></app-slider>
            <form>
                <div class="mb-3">
                    <input type="email" class="form-control login-input" placeholder="Ingrese su correo">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control login-input" placeholder="Ingrese su contraseña">
                </div>
                <div class="d-grid gap-2">
                    <button class="login-buton">
                        <span>INGRESAR</span>
                        <div class="liquid"></div>
                    </button>
                </div>

            </form>
        </div>
    </div>
</section>
