<!-- //String interpolation -->
<!-- <h1>{{ greeting }}</h1>
<p>3 + 3 = {{ 3+3 }}</p>
<h3>Juanita tiene: {{ age }} años</h3> -->

<!-- <h2 [class]="color">hola</h2>
<button (click)="changeColor('green')">turn green</button>
<button (click)="changeColor('blue')">turn blue</button>
<button (click)='changeColor("purple")'>turn purple</button> -->

<!-- <h1>{{ title }}</h1>
<input type="text" [value]="title" (keyup)="setInput($event)"> -->

<h1>{{ title }}</h1>
<input type="text" [(ngModel)]="title">
