<app-dashboard titulo_navbar="Usuarios"></app-dashboard>
<div class="contenido w-75">
    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-dark" routerLink="/crear-usuario">Registrar usuario</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">Nombre</th>
                <th>Correo</th>
                <th>Edad</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data_usuario of listaUsuarios">
                <td colspan="2">{{ data_usuario.nombre }} {{ data_usuario.apellido }}</td>
                <td>{{ data_usuario.correo }}</td>
                <td>{{ data_usuario.edad }}</td>
                <td>{{ data_usuario.telefono }}</td>
                <td>{{ data_usuario.direccion }}</td>
                <td>
                    <i class="fa-solid fa-pencil icon-pepe px-2"></i>
                    <i class="fa-solid fa-trash icon-pepe px-2" (click)="eliminarUsuario(data_usuario._id)"></i>
                </td>
            </tr>

        </tbody>
    </table>
</div>
