<app-dashboard titulo_navbar="Productos"></app-dashboard>

<div class="contenido w-75">
    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-dark">Registrar producto</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Proveeedor</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Chocorramo</th>
                <td>85</td>
                <td>$1.500</td>
                <td>Ramo</td>
                <td>
                    <i class="fa-solid fa-pencil icon-pepe px-2"></i>
                    <i class="fa-solid fa-trash icon-pepe px-2"></i>
                </td>
            </tr>
        </tbody>
    </table>




</div>
